<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

    </head>
    <body>
      <div id="content">
        <!-- <h1>{{ site.name }}</h1> -->

<pre>
   ______      __    ____    __           __
  / ____/___  / /___/ / /_  / /___  _____/ /__
 / / __/ __ \/ / __  / __ \/ / __ \/ ___/ //_/
/ /_/ / /_/ / / /_/ / /_/ / / /_/ / /__/ ,<
\____/\____/_/\__,_/_.___/_/\____/\___/_/|_|
</pre>

        {{ content }}
    </body>
</html>
