<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">
        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

    </head>
    <body>
        <marquee>∞ available for hire ∞</marquee>
        <div id="wrap">
            <header id="header">
            <table cellspacing="0">
                <tr>
                    <td>&nbsp;</td>
                    <td>
                        <div id="animated-computer">
                            <img src='images/animated-computer.gif' />
                        </div>

                    </td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>
<pre>
   ______      __    ____    __           __
  / ____/___  / /___/ / /_  / /___  _____/ /__
 / / __/ __ \/ / __  / __ \/ / __ \/ ___/ //_/
/ /_/ / /_/ / / /_/ / /_/ / / /_/ / /__/ ,<
\____/\____/_/\__,_/_.___/_/\____/\___/_/|_|
</pre>
                    </td>
                    <td>&nbsp;</td>
                </tr>
            </table>
        </header>
        <div id="content">
            {{ content }}
        </div>
      </div>
    </body>
</html>
